.hero{
    display: flex;
    background-color: #D1CCF2;
    
    
}
.heroRoot{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:10rem;
    width: 100%;
    justify-content: space-around;
    gap: 5rem;
    
}
.heroRootDiv {
    display: flex;
    flex-direction: column;

}
.heroContant{
   padding-bottom: 10px;
   font-size: 2rem;
   color: #0B0B48;
}
.heroContantSub{
   
    color: #6A68D7;
    padding-bottom: 180px;
}
.heroContantSub {
    font-size: 1.4rem;
}
.HeroImg{ 
    width: 400px;
    height: 400px;
    
}
.heroButton>button{
   background:#49317D;
   padding: 1.2rem;
   border-radius: 30px;
   
}
.heroButton1{
    color: #D1CCF2;
    font-size: 1rem;
    border: rgb(44, 124, 150) solid;
   
}
.heroButton1:hover{
    cursor: pointer;
    color: yellow;
    
}
