.aboutRoot{
    
    background-color: #D1CCF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
   
}
.aboutMain{
    color: #0B0B48;
    padding-top: 120px;
   
}
.aboutIntro{
    color: #6A68D7;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 25px;
}




@media screen and (max-width: 768px) {
    .aboutMain {
        padding-top: 80px;
    }
    
    .aboutIntro {
        font-size: 20px;
        padding: 15px;
        text-align: center;
    }
}