.contact-form {
  /* border: 2px red solid; */
    display: flex;
    height: 70vh;
    margin-top: 6rem;
    
    padding: 4rem 5rem 0;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
   
}

.c-right {
    display: flex;
    flex: 1 1;
    justify-content: center;
    position: relative;
}
.c-right>form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.c-right .user {
    border: 2px solid #6A68D7;
    border-radius: 8px;
    font-size: 16px;
    height: 2.2rem;
    outline: none;
    padding: .3em;
    width: 20rem;
}
.awesome>:first-child {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: 700;
}
.awesome>:nth-child(2) {
    color:#6A68D7;
    font-size: 2.5rem;
    font-weight: 700;
}
.button {
  
   background-color: #0B0B48;
    border: none;
    border-radius: 34px;
    color: #fff;
    font-size: 13px;
    padding: 11px 26px;
    margin-bottom: 20px;
    width: 7.7rem;
}

/* responsive */

  @media only screen and (max-width: 768px) {
    .contact-form {
      padding: 3rem 2rem 0;
    }
  
    .c-right .user {
      width: 100%;
      max-width: 20rem;
    }
  
    .button {
      width: 100%;
      max-width: 7.7rem;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .contact-form {
      flex-direction: column;
    }
  
    .c-right .user {
      max-width: 100%;
    }
  
    .button {
      /* max-width: 100%; */
      width: fit-content;
    }
  }
  