.SkillMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;
    color: #0B0B48;
    font-size: 15px;
    
}
.mySwiper{
  
    width: 380px;
    height: 350px; 

}
.SkillImg_1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SkillImg_1>img{
    height: 100%;
    width: 100%;
}
.SkillImg_2{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SkillImg_2>img{
    height: 100%;
    width: 100%;
}

.SkillImg_3{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SkillImg_3>img{
    height: 100%;
    width: 100%;
}

.SkillImg_5{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SkillImg_5>img{
    height: 100%;
    width: 100%;
}
.SkillImg_6{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SkillImg_6>img{
    height: 100%;
    width: 100%;
}



/* responsive */
@media screen and (max-width: 767px) {
    .SkillImg_1,
    .SkillImg_2,
    .SkillImg_3,
    .SkillImg_5,
    .SkillImg_6 {
      flex-direction: row;
    }
    .SkillMain {
      font-size: 12px;
    }
  }

