/* .projectRoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
    color: #0B0B48;
    padding-top: 10%;
    
   
}
.projectDiv:hover {
    
    border: 2px solid white;
    
}
.project{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    padding: 1rem;
    flex-direction: row;
    
}
.projectDiv {
    box-shadow: 6px 6px;
    height: 300px;
    width: 300px;
    background-color: #0B0B48;
    color: rgb(139, 141, 141)  
    
} */

/* responsive */

/* .projectRoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
    color: #0B0B48;
    padding-top: 10%;
}

.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.projectDiv {
    box-shadow: 6px 6px;
    height: 300px;
    width: 100%;
    max-width: 300px;
    background-color: #0B0B48;
    color: rgb(139, 141, 141)  
}

.projectDiv:hover {
    border: 2px solid white;
} 

 */

 .projectRoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
    color: #0B0B48;
    padding-top: 10%;
}
.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}
.projectDiv:hover {
    border: 2px solid white;
}
.projectDiv {
    box-shadow: 6px 6px;
    height: 300px;
    width: 300px;
    background-color: #0B0B48;
    color: rgb(139, 141, 141);
}
@media only screen and (max-width: 768px) {
    .project {
        justify-content: space-around;
    }
}
@media only screen and (max-width: 480px) {
    .projectDiv {
        height: 300px;
        width: 290px;
    }
}

