/* css global styles */
*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body{
  
  font-size: medium;
  font-style: normal;
  /* font-weight: bold; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #D1CCF2;
  
  /* scrollbar-width: thin; */
  
}


